# Data Preprocessing and Preparation for Analysis

In [60]:
#Improt the necessary library
import pandas as pd

## Load dataset

In [61]:
df = pd.read_csv("../data/Amazon Best Sellers.csv")

In [62]:
df.shape

(600, 14)

In [63]:
df.head(5)

,Product Url,Product Name,Brand,Product ID,Price,Rating,Number of Reviews,Parent Category,Sub Category,Sales Rank(in parent category),Sales Rank(in sub category),Release Date,Country of Origin,Purchased in Last Month
0,https://www.amazon.com/Hanes-Ecosmart-Fleece-S...,"Hanes EcoSmart Fleece, Cotton-Blend Pullover, ...",Hanes,B01L8JJ57U,11.98,4.5,150640.0,"Clothing, Shoes & Jewelry",Men's Fashion,1.0,1.0,14-Jul-22,El Salvador,8000.0
1,https://www.amazon.com/TNNZEET-Waisted-Printed...,High Waisted Leggings for Women - No See Throu...,TNNZEET,B0891SVRD6,9.99,4.3,24778.0,"Clothing, Shoes & Jewelry",Women's Compression Pants,2.0,1.0,14-Jun-20,NaN,8000.0
2,https://www.amazon.com/Carhartt-Acrylic-Watch-...,Carhartt Men's Knit Cuffed Beanie,Carhartt,B002G9UDYG,19.99,4.8,162373.0,"Clothing, Shoes & Jewelry",Men's Fashion,3.0,2.0,30-Apr-24,NaN,NaN
3,https://www.amazon.com/Hanes-Pullover-EcoSmart...,Hanes Men's EcoSmart Fleece Hoodie Sweatshirt,Hanes,B00JUM2VAQ,15.65,4.5,153666.0,"Clothing, Shoes & Jewelry",Men's Sweatshirts,4.0,2.0,14-Feb-24,Honduras,8000.0
4,https://www.amazon.com/CRZ-YOGA-Butterluxe-Wai...,CRZ YOGA Butterluxe High Waisted Lounge Leggin...,CRZ YOGA,B09P1GB319,32.00,4.6,11878.0,"Clothing, Shoes & Jewelry",Women's Yoga Leggings,5.0,1.0,4-Jun-24,USA,10000.0

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Product Url                     600 non-null    object
 1   Product Name                    600 non-null    object
 2   Brand                           600 non-null    object
 3   Product ID                      597 non-null    object
 4   Price                           600 non-null    float64
 5   Rating                          597 non-null    float64
 6   Number of Reviews               597 non-null    float64
 7   Parent Category                 448 non-null    object
 8   Sub Category                    446 non-null    object
 9   Sales Rank(in parent category)  448 non-null    float64
 10  Sales Rank(in sub category)     446 non-null    float64
 11  Release Date                    465 non-null    object
 12  Country of Origin               228 non-null    object
 13  Purchased in Last Month         313 non-null    float64
dtypes: float64(6), object(8)
memory usage: 65.8+ KB

In [65]:
df.isnull().sum()

Product Url                         0
Product Name                        0
Brand                               0
Product ID                          3
Price                               0
Rating                              3
Number of Reviews                   3
Parent Category                   152
Sub Category                      154
Sales Rank(in parent category)    152
Sales Rank(in sub category)       154
Release Date                      135
Country of Origin                 372
Purchased in Last Month           287
dtype: int64

### Dealing with Product ID Missing Data

In [66]:
df = df.dropna(subset=['Product ID'])

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 597 entries, 0 to 599
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Product Url                     597 non-null    object
 1   Product Name                    597 non-null    object
 2   Brand                           597 non-null    object
 3   Product ID                      597 non-null    object
 4   Price                           597 non-null    float64
 5   Rating                          597 non-null    float64
 6   Number of Reviews               597 non-null    float64
 7   Parent Category                 447 non-null    object
 8   Sub Category                    445 non-null    object
 9   Sales Rank(in parent category)  447 non-null    float64
 10  Sales Rank(in sub category)     445 non-null    float64
 11  Release Date                    462 non-null    object
 12  Country of Origin               228 non-null    object
 13  Purchased in Last Month         312 non-null    float64
dtypes: float64(6), object(8)
memory usage: 70.0+ KB

In [68]:
df['Sales Rank(in parent category)'].mode()

0     8.0
1    32.0
2    48.0
3    59.0
4    62.0
Name: Sales Rank(in parent category), dtype: float64

In [69]:
df['Sales Rank(in sub category)'].mode()

0    1.0
Name: Sales Rank(in sub category), dtype: float64

In [70]:
print(df['Sales Rank(in parent category)'].median())
print(df['Sales Rank(in sub category)'].median())

51.0
1.0

### Dealing with Missing Numerical Data

In [71]:
df['Sales Rank(in parent category)'] = df['Sales Rank(in parent category)'].fillna(df['Sales Rank(in parent category)'].median())
df['Sales Rank(in sub category)'] = df['Sales Rank(in sub category)'].fillna(df['Sales Rank(in sub category)'].median())
df['Purchased in Last Month'] = df['Purchased in Last Month'].fillna(df['Purchased in Last Month'].mean())

### Handling Data Types and Missing Values

In [72]:
df['Release Date'] = pd.to_datetime(df['Release Date'], errors='coerce')
df['Release Date'] = df['Release Date'].fillna(method='ffill')

C:\Users\Mominur\AppData\Local\Temp\ipykernel_13924\3189190636.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Release Date'] = pd.to_datetime(df['Release Date'], errors='coerce')
C:\Users\Mominur\AppData\Local\Temp\ipykernel_13924\3189190636.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Release Date'] = df['Release Date'].fillna(method='ffill')

### Dealing with Missing Categorical Data

In [73]:
df['Parent Category'] = df['Parent Category'].fillna('Unknown')
df['Sub Category'] = df['Sub Category'].fillna('Unknown')
df['Country of Origin'] = df['Country of Origin'].fillna('Unknown')

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 597 entries, 0 to 599
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Product Url                     597 non-null    object
 1   Product Name                    597 non-null    object
 2   Brand                           597 non-null    object
 3   Product ID                      597 non-null    object
 4   Price                           597 non-null    float64
 5   Rating                          597 non-null    float64
 6   Number of Reviews               597 non-null    float64
 7   Parent Category                 597 non-null    object
 8   Sub Category                    597 non-null    object
 9   Sales Rank(in parent category)  597 non-null    float64
 10  Sales Rank(in sub category)     597 non-null    float64
 11  Release Date                    597 non-null    datetime64[ns]
 12  Country of Origin               597 non-null    object
 13  Purchased in Last Month         597 non-null    float64
dtypes: datetime64[ns](1), float64(6), object(7)
memory usage: 70.0+ KB

In [75]:
df.isnull().sum()

Product Url                       0
Product Name                      0
Brand                             0
Product ID                        0
Price                             0
Rating                            0
Number of Reviews                 0
Parent Category                   0
Sub Category                      0
Sales Rank(in parent category)    0
Sales Rank(in sub category)       0
Release Date                      0
Country of Origin                 0
Purchased in Last Month           0
dtype: int64

In [76]:
df.nunique()

Product Url                       597
Product Name                      592
Brand                             392
Product ID                        594
Price                             273
Rating                             18
Number of Reviews                 563
Parent Category                    12
Sub Category                      284
Sales Rank(in parent category)    107
Sales Rank(in sub category)        50
Release Date                      409
Country of Origin                  22
Purchased in Last Month            25
dtype: int64

In [77]:
df.shape

(597, 14)

In [78]:
df.drop_duplicates(inplace=True)

In [79]:
df.shape

(597, 14)

### Save the preprocessing data in data folder as "Preprocessed Amazon Best Sellers.csv" file

In [82]:
df.to_csv("../data/Preprocessed Amazon Best Sellers.csv",index=False)